/* Google font DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Nova+Square&display=swap');

/* general styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "DM Sans";
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background-color: teal;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

/* generic classes */
.hidden {
    display: none;
}

.margin-bottom {
    margin-bottom: 80px;
}

.margin-top {
    margin-top: 90px;
}

.padding {
    padding: 5px;
}

.larger {
    font-size: large;
}

.btn {
    border: none;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    color: whitesmoke;
    background: black;
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.uppercase {
    text-transform: uppercase;
}

/* header */
#heading {
    font-size: 40px;
    width: 100%;
    margin: auto;
    color: black;
    padding: 10px;
}

/* home page, form section and difficulty page reused code */
#home-page,
#form-section,
#difficulty-section {
    width: 90%;
    text-align: center;
    height: 200px;
    margin: auto;
    margin-bottom: 20px;
    color: whitesmoke;
    text-transform: capitalize;
}

/* home page */
#about-button {
    background-color: whitesmoke;
    color: black;
}

#chocolate {
    color: chocolate;
}

/* reused code for every home button and start,about-game and submit buttons */
#start-button,
#submit-button,
#home-button-normal,
#home-button-hard,
#about-button,
#home-button-about-page {
    width: 80%;
    margin: auto;
    background: black;
    color: whitesmoke;
    font-size: 30px;
    height: 100px;
    cursor: pointer;
}

/* username form page */
#username-form {
    margin: 20px 0;
    font-size: large;
}

#username {
    margin-top: 10px;
}

/* difficulty page */
.btn-difficulty {
    padding: 20px;
    width: 50%;
    margin-top: 25px;
}

/* Normal and hard difficulty games */
/* game container class for both hard and normal difficulties */
.game-container {
    width: 100%;
    min-height: 100vh;
    margin-top: 20px;
}

.score-heading {
    font-size: 20px;
    margin-bottom: 50px;
}

/* reused code for answer buttons in both normal and hard difficulty games */
#normal-answer-btns,
#hard-answer-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    color: whitesmoke;
    padding: 20px;
}

#normal-answer-btns button,
#hard-answer-btns button {
    margin: 10px 30px;
    display: inline block;
    width: 80%;
    text-align: center;
    padding: 15px;
    font-size: 1rem;
}

/* Normal and hard games summary pages */
.btn-summary-page {
    padding: 20px;
    width: 70%;
    font-size: 20px;
    margin-top: 25px;
}

.scored-text {
    font-size: 1.5rem;
}