@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Nova+Square&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "DM Sans";
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background-color: teal;
}

.padding {
    padding: 5px;
}

.game-container {
    width: 100%;
    min-height: 100vh;
    margin-top: 20px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

#home-page,
#form-section,
#difficulty-section {
    width: 90%;
    text-align: center;
    height: 200px;
    margin: auto;
    margin-bottom: 20px;
    color: whitesmoke;
    position: relative;
    text-transform: capitalize;
}

#normal-answer-btns,
#hard-answer-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    color: whitesmoke;
    /*background: gray;*/
    padding: 20px;
}

#normal-answer-btns button,
#hard-answer-btns button {
    margin: 10px 30px;
    display: inline block;
    width: 80%;
    text-align: center;
    padding: 15px;
    font-size: 1rem;
}


.btn-summary-page {
    border: none;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: white;
    width: 70%;
    font-size: 20px;
    margin-top: 25px;
}

#chocolate {
    color: chocolate;
}

.btn-summary-page:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.score-heading {
    font-size: 20px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

#start-button,
#submit-button,
#home-button-normal,
#home-button-hard {
    width: 80%;
    margin: auto;
    background: black;
    color: white;
    font-size: 30px;
    height: 100px;
    cursor: pointer;
}

#normal-scoredText {
    font-size: 1.5rem;
}

#heading {
    font-size: 40px;
    width: 100%;
    margin: auto;
    color: black;
    padding: 10px;
}

.hidden {
    display: none;
}

.margin-bottom {
    margin-bottom: 80px;
}

.margin-top {
    margin-top: 90px;
}

#username {
    margin-top: 10px;
}

.larger {
    font-size: large;
}

.btn {
    border: none;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    color: white;
    background: black;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.btn-difficulty {
    border: none;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: white;
    width: 50%;
    margin-top: 25px;
}

.btn-difficulty:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}

.uppercase {
    text-transform: uppercase;
}

.x-large {
    font-size: x-large;
}

.welcome {
    width: 60%;
    height: 400px;
    margin: auto;
    color: black;
    margin-top: 100px;
    position: relative;
    border: 2px solid black;
    padding: 50px 0;
}

h1 {
    font-size: 30px;
}

form {
    margin: 20px 0;
    font-size: large;
}